/* 重置样式 */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* 地图容器 */
.map-container {
    position: relative; /* 确保子元素使用绝对定位时相对于此容器定位 */
    width: 100%; /* 宽度100%，铺满父容器 */
    height: 68%; /* 高度固定为300像素 */
    margin-bottom: 1em; /* 底部外边距为1em */
}

/* 地图样式 */
#map {
    width: 100%; /* 地图容器宽度 */
    height: 100%; /* 地图容器高度 */
}

/* 地图按钮样式 */
#CenterMapButton, #ClearMapButton {
    position: absolute; /* 使用绝对定位，相对于最近的定位祖先元素 */
    right: 1%; /* 按钮右侧距离其父元素右侧的距离 */
    z-index: 1000; /* 确保按钮位于其他元素之上 */
    padding: 5px 5px; /* 上下内边距为10px，左右内边距为20px */
    background-color: #007b8f; /* 背景颜色为深蓝绿色 */
    color: #fff; /* 文本颜色为白色 */
    border: none; /* 没有边框 */
    cursor: pointer; /* 鼠标悬停时显示指针 */
    font-size: 14px; /* 字体大小为16像素 */
    border-radius: 5px; /* 边框圆角半径为5像素 */
}

/* 居中地图按钮 */
#CenterMapButton {
    top: 10%; /* 按钮顶部距离其父元素顶部的距离 */
}

/* 清除地图按钮 */
#ClearMapButton {
    top: calc(10% + 35px); /* 按钮顶部距离其父元素顶部的距离，比上一个按钮稍微下移 */
}

.lonlat-container, .speed-container, .statusHCSDS-container, .altitude-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px; /* 根据需要调整内边距 */
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.text-lon, .text-lat, .text-speedms, .text-speedkmh, .text-status, .text-HCSDS, .text-altitude {
    width: 50%;
    text-align: left; /* 左对齐文本 */
    font-size: 16px; /* 根据需要调整字体大小 */
    margin: 0; /* 清除默认的外边距 */
}

